h1 {
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666666;
    margin-bottom: 15px;
    font-family: monospace;
}
body {
    background-color: #f0e4e4;
    font-family: 'Courier New', Courier, monospace;
}